@media screen and (min-width: $desktopWidth) {
  section.impressionGridWrapper {
    width: $desktopWidth - 80px;
    margin-left: 40px;
    margin: 0 auto;
    position: relative;
    right: -100px;
  }
  .queueScrollContainer {
    right: -100px;
  }
}

.impressionGridWrapper {
  background: white;
  height: 210px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 3;
  // box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.25);
  // background: $lightBlue;
  /* Created with https://www.css-gradient.com */
  // background: #fa578b;
  // background: radial-gradient(at bottom right, #fa578b, #c82a47);
  background: radial-gradient(at bottom right, $strawberry, $frenchRaspberry);

  z-index: 5;

  .creditCounter {
    position: absolute;
    top: -50px;
    right: 15px;
    text-align: right;
    width: fit-content;
    padding: 15px;
    background: white;
    border-radius: 50px;

    span {
      font-weight: 600;
    }
  }

  .gridToolbar {
    .gridLabel {
      display: block;
      font-size: 14px;
      text-align: center;
      position: absolute;
      bottom: 168px;
      left: 15px;
      padding: 5px 3px;
      color: white;
      font-weight: 500;

      width: 48%;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .gridCategories {
      position: absolute;
      bottom: 170px;
      right: 15px;
      display: flex;
      flex-direction: row;

      .gridCategory {
        margin-right: 5px;

        &.selected {
          border-bottom: 2px white solid;
        }
      }
      .typcn {
        color: white;
        font-size: 22px;
      }
    }
  }

  &.darkMode {
    background: $backBlack;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .grid {
      .impressionGridInner {
        .pillGrid {
          li {
            a {
              background: $frontBlack;
              color: white;
            }
          }
        }
      }
    }
  }
}

.queueScrollContainer {
  height: calc(100vh - 280px);
}

.grid {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  .impressionGridInner,
  .interestGridInner {
    .pillGrid {
      display: flex;
      flex-wrap: wrap;
      width: 5000px;
      height: 140px;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-left: 15px;

      &.smallGrid {
        width: 1000px;
      }

      li {
        display: block;
        margin: 7px;

        a {
          display: block;
          padding: 10px 20px;
          text-decoration: none;
          font-size: 14px;
          color: $midBlue;
          font-weight: 400;
          text-transform: capitalize;
          background: #f7f7f7;
          border-radius: 50px;

          &:active {
            background: $midBlue;
            color: white;
          }
          &:focus {
            outline: 2px $midBlue solid;
          }
        }
      }
    }
  }
}

.impressionGrid {
  @extend .grid;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s;

  &.visibleGrid {
    opacity: 1;
    transition: all 0.5s;
  }
}
