@import "./reset";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600&family=Oswald:wght@300;400;600&family=Sora:wght@300;400;600&display=swap");
@import "../node_modules/feather-webfont/dist/feather-icons.css";

$darkBlue: #2266ff;
$midBlue: #3388ff;
$lightBlue: #44ccff;

$frenchRaspberry: #c72946;
$strawberry: #fa578a;

$purple: #8446ff;
$red: #ff4040;

$brandGradient: radial-gradient(at bottom right, $purple, $red);

$backBlack: #222625;
$frontBlack: #404243;

$headerWhite: rgba(255, 255, 255, 0.8);

* {
  font-family: "Sora", "Helvetica";
  scroll-behavior: smooth;
}

/*** Fixed URL Address Bar ***/
html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 1200px) {
  .globalContainer {
    width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1200px) {
  .desktopOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .desktopOnly {
    display: block;
  }
  .mobileOnly {
    display: none;
  }
}

ul,
ol {
  padding: 0;
}

// body {
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
// }

.scrollContainer {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100vh;
  overflow: scroll;
}

@import "./Forms.module";
@import "./Queue.module";
@import "./Updates.module";
@import "./Profile.module";
@import "./Thread.module";
@import "./Upload.module";
@import "./Interests.module";
@import "./SignInSignUp.module";
