@import "./reset";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600&display=swap");

$darkBlue: #2266ff;
$midBlue: #3388ff;
$lightBlue: #44ccff;

* {
  font-family: "Inter", "Helvetica";
}

/*** Fixed URL Address Bar ***/
html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

ul,
ol {
  padding: 0;
}

// body {
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
// }

.scrollContainer {
  width: 100vw;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow: scroll;
}

@import "./Forms.module";
@import "./Queue.module";
@import "./Updates.module";
@import "./Profile.module";
@import "./Thread.module";
@import "./Upload.module";
