@import "./reset";

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import "../node_modules/typicons.font/src/font/typicons.css";
@import "../node_modules/microns/fonts/microns.css";

$darkBlue: #2266ff;
$midBlue: #3388ff;
$lightBlue: #44ccff;

$frenchRaspberry: #c72946;
$strawberry: #fa578a;

$purple: #8446ff;
$red: #ff4040;

$brandGradient: radial-gradient(at bottom right, $purple, $red);

$backBlack: #222625;
$frontBlack: #404243;

$cancelGrey: #a1a1a1;

$headerWhite: rgba(255, 255, 255, 0.8);

$desktopWidth: 760px;

* {
  font-family: "Sora", "Helvetica";
  scroll-behavior: smooth;
}

/*** Fixed URL Address Bar ***/
html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: $desktopWidth) {
  .globalContainer {
    width: $desktopWidth;
    margin: 0 auto;
  }
}

@media screen and (max-width: $desktopWidth) {
  .desktopOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
  }
}

@media screen and (min-width: $desktopWidth) {
  .desktopOnly {
    display: block;
  }
  .mobileOnly {
    display: none;
  }
}

ul,
ol {
  padding: 0;
}

// body {
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
// }

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.scrollContainer {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100vh;
  overflow: scroll;
}

@media screen and (min-width: $desktopWidth) {
  .scrollContainer {
    width: $desktopWidth;
    margin: 0 auto;

    right: -120px;
    position: relative;
  }
}

.fullscreenMessage {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: calc(-100vh + 210px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -5;

  span {
    font-size: 24px;
    position: relative;
    top: -50px;
  }
}

@import "./Forms.module";
@import "./Queue.module";
@import "./Updates.module";
@import "./Profile.module";
@import "./Thread.module";
@import "./Upload.module";
@import "./Interests.module";
@import "./SignInSignUp.module";
@import "./Settings.module";
@import "./Landing.module";

@import "../components/PopupModal/PopupModal";
