/** Variables **/

/** Component Imports **/
@import "../components/interests/InterestGrid/InterestGrid";
@import "../components/interests/InterestPreview/InterestPreview";

/** Page Styles **/
.interests {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;

  .interestsInner {
  }
}

.interestPicker {
  padding: 30px 25px;

  .interestPickerInner {
    .pickerSearch {
    }
  }
}

.pickerSelector {
  .pickerSelectorInner {
    .selectorLevel {
      margin-top: 20px;

      .selectorLabel {
        font-size: 20px;
        color: $darkBlue;
        font-weight: 600;
      }
      .selectorGridWrapper {
      }
    }
  }
}

.pickerControls {
  .pickerControlsInner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
  }
}
