/** Variables **/

/** Component Imports **/

/** Page Styles **/
.policyContent {
  width: 100%;
  max-width: $desktopWidth;
  padding: 0 25px;

  .policyContentInner {
    p {
      line-height: 24px;
    }
    ul li,
    ol li {
      margin-bottom: 6px;
    }
    iframe {
      width: 100%;
      height: calc(100vh - 100px);
    }
  }
}
