/** Variables **/

/** Component Imports **/
@import "../components/ContentInformation/ContentInformation";
@import "../components/ImpressionWheel/ImpressionWheel";
@import "../components/ImpressionGrid/ImpressionGrid";
@import "../components/PrimaryHeader/PrimaryHeader";
@import "../components/PrimaryNavigation/PrimaryNavigation";
@import "../components/PostImpressions/PostImpressions";

@import "../components/ContentViewer/ContentViewer";
@import "../components/VideoViewer/VideoViewer";
@import "../components/AudioViewer/AudioViewer";
@import "../components/TextViewer/TextViewer";

/*** Page Styles ***/
.queueScrollContainer {
  position: relative;

  .displayPost {
    position: absolute;
    width: 100%;

    &.preloadPost {
      opacity: 0;
      display: none;
    }
    &.currentPost {
    }
  }
}

.queueEmptyMessage {
  padding-top: 200px;
}
