/** Variables **/

/** Component Imports **/
@import "../components/post/ContentInformation/ContentInformation";
@import "../components/queue/ImpressionWheel/ImpressionWheel";
@import "../components/queue/ImpressionGrid/ImpressionGrid";
@import "../components/layout/PrimaryHeader/PrimaryHeader";
@import "../components/layout/PrimaryNavigation/PrimaryNavigation";
@import "../components/post/PostImpressions/PostImpressions";

@import "../components/post/ContentViewer/ContentViewer";
@import "../components/post/VideoViewer/VideoViewer";
@import "../components/post/AudioViewer/AudioViewer";
@import "../components/post/TextViewer/TextViewer";

/*** Page Styles ***/
.queueScrollContainer {
  position: relative;
  z-index: 5;

  .displayPost {
    // position: absolute;
    width: 100%;

    &.preloadPost {
      opacity: 0;
      display: none;
    }
    &.currentPost {
    }
  }
}

.queueEmptyMessage {
  padding-top: 200px;
}
