/** Variables **/

/** Component Imports **/

/** Page Styles **/
.settingsList {
  width: 100%;

  .settingsListInner {
    padding: 25px;

    a {
      display: block;
      font-size: 24px;
      font-weight: 600;
      text-decoration: none;
      color: black;
      margin-bottom: 35px;
    }

    .bottomLinks {
      position: absolute;
      bottom: 35px;
    }
  }
}

.settings {
  width: 100%;

  .settingsInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .form {
      width: 80%;
      margin-top: 25px;
    }
  }
}
