$darkBlue: #2266ff;
$midBlue: #3388ff;
$paleBlue: #88baff;
$lightBlue: #44ccff;

$frenchRaspberry: #c72946;
$strawberry: #fa578a;

$purple: #8446ff;
$red: #ff4040;

$brandGradient: radial-gradient(at bottom right, $purple, $red);

$backBlack: #222625;
$frontBlack: #404243;

$cancelGrey: #a1a1a1;

$headerWhite: rgba(255, 255, 255, 0.8);

$desktopWidth: 760px;
