.primaryHeader {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 3;

  &.whiteHeader {
    .primaryHeaderInner {
      .headerIcon {
        a {
          color: white;
        }
      }
      .headerTitleWrapper {
        .title {
          color: white;
        }
      }
    }
  }

  .primaryHeaderInner {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;

    .headerIcon {
      a {
        text-decoration: none;
      }

      &.headerLeftIcon {
        background: $headerWhite;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        position: relative;
        top: -7px;
      }
    }
    .headerTitleWrapper {
      .titleComponent {
        h1,
        .pickerButton {
          font-weight: 600;
          font-size: 18px;
          text-decoration: none;
          color: black;
          background: $headerWhite;
          padding: 5px 10px;
          display: block;
        }
      }
      .title {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}
