.primaryHeader {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 3;

  &.whiteHeader {
    .primaryHeaderInner {
      .headerIcon {
        font-size: 24px;
        top: -12px;

        a {
          color: white;
        }

        &.headerLeftIcon {
          background: transparent;
        }
      }
      .headerTitleWrapper {
        .title {
          color: white;
          text-align: center;
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }

  .primaryHeaderInner {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;

    .headerIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      position: relative;
      top: -7px;

      a {
        text-decoration: none;
      }

      &.headerLeftIcon {
        background: $headerWhite;
        border-radius: 50%;
      }
    }
    .headerTitleWrapper {
      .titleComponent {
        h1,
        .pickerButton {
          font-weight: 600;
          font-size: 18px;
          text-decoration: none;
          color: black;
          background: $headerWhite;
          padding: 5px 10px;
          display: block;
        }
      }
      .title {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}
