.postImpressions {
  padding: 25px 25px 50px 25px;
  border-top: 1px #e5e5e5 solid;

  .postImpressionsInner {
    .listLabel {
      .feather-icon {
        margin-right: 3px;
      }
    }
    .impressionList {
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .impression {
        width: fit-content;
        display: block;
        margin-bottom: 10px;
        border-radius: 50px;
        padding: 10px 25px;
        margin-right: 5px;

        span {
          display: block;

          &.content {
            font-size: 16px;
            margin-bottom: 7px;
            color: #fff;
            font-weight: 600;
          }
          &.attribution {
            font-size: 13px;
            color: #fff;

            max-width: 100px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }
}
