.header {
  .headerInner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;

    h1 {
      margin: 0;
    }
    .headerKpi {
      font-size: 24px;
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.kpi {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 400px;
}

.kpiStat {
  font-size: 28px;
  margin-right: 50px;

  span {
    font-size: 48px;
    display: block;
    text-align: center;
  }
}
