.profilePost {
  .profilePostInner {
    .postContent {
      width: 100%;
      aspect-ratio: 1;
      background: $darkBlue;

      img {
      }
    }
    .postTitle {
      height: 50px;
      display: flex;
      align-items: center;
      background: $lightBlue;
      padding: 0 15px;

      span {
        color: $darkBlue;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}
