.contentViewer {
  // height: calc(100vh - 450px);
  width: 100vw;
  background: #e5e5e5;
  overflow: hidden;

  .contentViewerInner {
    // height: calc(100vh - 360px);
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;

    img {
      display: block;
      max-height: 100%;
    }
  }
}
