@media screen and (min-width: $desktopWidth) {
  nav.primaryNavigation {
    .primaryNavigationInner {
      align-items: flex-end;

      .navOption {
        width: auto;
        height: auto;
        padding: 7px 15px;

        .navLabel {
          font-size: 18px;
          margin-right: 7px;
        }

        &.primaryNavOption {
          width: auto;
          height: auto;
          font-size: 20px;
        }
      }
    }
  }
}

.primaryNavigation {
  .primaryNavigationInner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .navOption {
      height: 40px;
      width: 40px;
      background: $headerWhite;
      color: $red;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      margin-bottom: 15px;
      position: relative;
      top: 65px;
      // font-size: 20px;
      font-weight: 600;

      .typcn-messages {
        font-size: 24px;
      }

      .typcn-user-outline {
        font-size: 28px;
      }

      &.primaryNavOption {
        width: 55px;
        height: 55px;
        // font-size: 28px;
        background: $red;

        .typcn-plus {
          font-size: 36px;
          font-weight: 200;
          color: white;
        }
      }
    }
  }
}
