.impressionGridWrapper {
  background: white;
  height: 265px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.25);

  .gridLabel {
    display: block;
    font-size: 18px;
    text-align: center;
    position: absolute;
    bottom: 230px;
    width: 100%;
    color: #737373;
    font-weight: 500;
  }
}

.queueScrollContainer {
  height: calc(100vh - 255px);
}

.grid {
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;

  .impressionGridInner,
  .interestGridInner {
    .pillGrid {
      display: flex;
      flex-wrap: wrap;
      width: 5000px;
      height: 195px;
      overflow-x: scroll;
      overflow-y: hidden;

      li {
        display: block;
        background: #f7f7f7;
        padding: 10px 20px;
        border-radius: 50px;
        margin: 7px;
        font-size: 16px;
        color: #707070;
        text-transform: capitalize;
      }
    }
  }
}

.impressionGrid {
  @extend .grid;
  position: absolute;
  bottom: 0;
}
