.languagePicker {
  .languagePickerInner {
    .languageGrid {
      .languageGridInner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
        column-gap: 15px;
        padding: 15px;

        .item {
          padding: 25px 15px;
          border-radius: 3px;
          text-decoration: none;

          span {
            display: block;
            text-align: center;
            color: white;
          }
          .labelNative {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 7px;
          }
          .labelEn {
            font-size: 15px;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
