.videoViewer {
  .videoViewerInner {
    position: relative;

    .contentWrapper {
      video {
        display: block;
        max-width: 100%;
      }
    }
    .controlsWrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;

      display: flex;
      justify-content: center;
      align-items: center;

      .playButton,
      .pauseButton {
        font-size: 32px;
        background: $headerWhite;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 4px;
      }
      .pauseButton {
        padding-left: 0;
      }
    }
  }
}
