.contentInformation {
  .contentInformationInner {
    padding: 25px 25px;

    .contentTitle {
      font-size: 32px;
      margin-bottom: 15px;
      font-weight: 400;
    }
    .contentAuthor {
      .contentAuthorInner {
        .authorProfileImage {
        }
        .authorAttribution {
        }
      }
    }
  }
}
