.messageList {
  position: relative;
  // margin-top: 100px;
  height: calc(100vh - 450px);
  margin-bottom: 15px;

  .messageListInner {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    // min-height: calc(100vh - 750px);
    height: 100%;
    overflow-y: scroll;
  }
}
